.Solutionsall-container{
    display: flex;
    flex-direction: column;
}

@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Fredericka+the+Great&family=Inter&family=Open+Sans&family=Orbitron&family=Poppins&display=swap');

.S-hrc{
    display: flex;
    flex-direction: column;
    background-color: #F6F1FF;
    height: 600px;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 100px;
    
}

.SHRC-top{
    display: flex;
    flex: 4;

}

.SHRC-left{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    
    
}

.SHRC-center{
    
}

.SHRC-right{
   
    display: flex;
    flex-direction: column;
    gap:50px;
    margin-left: 80px;
}

.SHRC-dash{
    border-radius: 12px;
    background: #000339;
    width: 53.776px;
    height: 5.379px;
    margin-bottom: 15px;
}

.SHRC-title{
    color: #000339;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px; 
    width : 400px;
    margin-bottom: 40px;
}

.SHRC-desc{
    color: #5A6473;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 400px;
    margin-bottom: 40px;
}

.SHRC-read{
    display: flex;
    color: #6020BD;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    gap:10px;
}

.shrc-arrow{
    padding-top: 6px;
    width: 26px;
}

.SHRC-box{
    border-radius: 0px 0px 16.352px 16.352px;
    background: #FFF;
    box-shadow: 122.64px 115.827px 136.267px 0px rgba(0, 0, 0, 0.06);
    width: 420.114px;
    height: 125.217px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SRHC-box-text{
    color: #5A6473;
    font-family: Poppins;
    font-size: 16.769px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.478px;
    width: 347.249px;
}

.SHRC-bottom{
    color: #5A6473;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.5px;
    width: 1144px;
    
}






.S-digital-growth{
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    height: 600px;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 100px;
}

.Sdg-left{
    flex:1;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.Sdg-center{
    flex:4;
    display: flex;
    flex-direction: column;
}

.Sdg-right{
    flex:1;
}

.Sdg-top{
    display: flex;
    margin-bottom:120px;
    margin-top:0px;
}

.dg-img{
    width: 600px;
}

.S-carreers{

    display: flex;
    flex-direction: column;
    background-color: #FAF9F6;
    height: 700px;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;

}

.Scar-t-left{
    
}

.car-img{
    width:450px;
}

.Scar-title{
    color: #000339;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px; 
    width : 800px;
    margin-bottom: 40px;
}
.Scar-desc{
    color: #5A6473;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 400px;
    margin-bottom: 40px;
}
.Scar-center{
    display: flex;
    gap : 80px;
    margin-bottom: 100px;
}

.Scar-bottom{
    color: #5A6473;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.5px;
    width: 1144px;
}