.clients-section-container {
  display:flex;
  flex-direction: row;
  overflow: hidden;
  height: 100vh;
  padding: 0px;
  justify-content: center;

  }
  .cli-col{
    display:flex;
    flex-direction: column;
    margin:0 20px;
    align-items: center;
   
  }
  .cli-colHeader{
    background-color: #fff;
    text-align: center;
    z-index:2;
    width:270px;
    padding:10px;
  
  }


  
  .marquee-item {
    margin-bottom: 10px;
    padding: 5px;
    display: block;
   
  }
  .mark{
    height:100vh;
    
    position:relative;
    z-index:1;
    margin:0;
   
  }
  .marq1{
    position: relative;
    width:250px;
    margin-left: -36vw;
    
    
  }

  
 /*new css header*/

 .cli-head1{
  position:relative;
  text-align:center;
  font-size: 3vw;
  flex-direction: row;
  font-style: normal;
  font-weight:bold;
  font-family: 'Inter', sans-serif;
  line-height: 80px;
  letter-spacing: -0.02em;
  background: linear-gradient(90deg, #6020BD 0%, #A465FF 92.63%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.cli-header{

  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height:15vw;
  width:100%;
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;

}
#cli-maincontainer{
  background-color: #FAF9F6;
  margin-top: 100px;
  height:120vw;
}

.cli-para{
  max-width:50vw;
  color:#42526B;
  padding-bottom: 4vw;
}
.cli-para1{
  font-size: 1vw;
}
.cl-cont-mob{
  display: none;
}
@media screen and (max-width:700px) {
  .clients-section-container{
    display: none;
  }
  .cli-header {
    height: 70vw;
  }
  .cli-head1{
    font-size: 12vw;
    line-height: 12vw;
    margin-bottom: 4vw;
  }
  .cli-para{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .cli-para1{
    font-size: 4vw;
    width: 88vw;
    text-align: center;
    
  }.cl-cont-mob{
    display:flex;
    flex-direction:column;
    overflow: hidden;
    height: 120vh;
    padding: 0px;
    gap:10vw;
      
  }
  .marq2{
    
   
    margin-top: -70vw;
    height: 50vw;
   
  }
  .marq3{
    margin-top: -30vw;
    height: 50vw;
  }
  .marq4{
    margin-top: -10vw;
    height : 50vw
  }
  .marq5{
    margin-top: -30px;
    height: 50vw;
  }
  
  .mark2{
    height:100vh;
    position:relative;
    z-index:1;
    margin:0;
  }
  
}