.clients-section-container {
    overflow: hidden;
    height: 100vh;
    padding: 0px;
 
  }
  
  .marquee-content {
    display: flex;
    flex-direction: column;
   padding: 0

  }
  
  .marquee-item {
    margin-bottom: 10px;
    padding: 5px;
    display: block;
   
  }
  
 
  .mark{
    height: 100vh;
   
  }
  .mark1{
    position: relative;
    margin: 100px;
    left: 10%;
  }
  .marq1{
    margin-left:-100px
  }