.Solution {
    height: 180vh;
    background-color: #FFF6F6;
    padding-top: 5%;
}

.Solution h1 {
    background: -webkit-linear-gradient(left, #3C65D4, #8267BB);
    -webkit-text-fill-color: transparent;
    background-clip: border-box;
    -webkit-background-clip: text;
    font-size: 2.5em;
    margin-top: 0;
}

.Solution p {
    color: #333;
}

.cont {
    height: 100vh;
}

.cont1 {
    background-color: #FFEEEE;

    -webkit-box-shadow: 0 0 15px 5px #ece1e1;
    -moz-box-shadow: 0 0 15px 5px #ece1e1;
    box-shadow: 0 0 15px 5px #ece1e1;

    height: 50vb;
    width: 50vb;
    position: relative;
    left: -2.5%;
    top: -10%;
    border-radius: 50%;
}


.cont2 {
    background-color: #FFFAEE;

    -webkit-box-shadow: 0 0 15px 5px #e6e1d6;
    -moz-box-shadow: 0 0 15px 5px #e6e1d6;
    box-shadow: 0 0 15px 5px #e6e1d6;

    height: 50vb;
    width: 50vb;
    position: relative;
    left: 29%;
    top: -35%;
    border-radius: 50%;
}

.cont3 {
    background-color: #F4FFEE;

    -webkit-box-shadow: 0 0 15px 5px #dee8db;
    -moz-box-shadow: 0 0 15px 5px #dee8db;
    box-shadow: 0 0 15px 5px #dee8db;

    height: 50vb;
    width: 50vb;
    position: relative;
    left: -27%;
    top: -70%;
    border-radius: 50%;

}

.cont4 {
    background-color: #F0F5FF;

    -webkit-box-shadow: 0 0 15px 5px #d1d5dd;
    -moz-box-shadow: 0 0 15px 5px #d1d5dd;
    box-shadow: 0 0 15px 5px #d1d5dd;

    height: 50vb;
    width: 50vb;
    position: relative;
    top: -77%;
    left: 25%;
    border-radius: 50%;
}

.cont5 {
    background-color: #F3EDFE;

    -webkit-box-shadow: 0 0 15px 5px #dfd5ee;
    -moz-box-shadow: 0 0 15px 5px #dfd5ee;
    box-shadow: 0 0 15px 5px #dfd5ee;

    width: 50vb;
    height: 50vb;
    position: relative;
    top: -117.5%;
    left: -12%;
    border-radius: 50%;
}

.logo {
    display: flex;
    width: 18%;
    height: 16%;
    position: relative;
    top: 70%;
    left: 4%;
}

.Solution h4 {
    margin: 0;
}

.cont p {
    font-size: 16px;
    width: 40vb;
}

.images {
    margin-top: 5vh;
    height: 10vh;

}

.recruitment,
.ushc,
.training,
.buisness {
    height: 20vh;
}

.socialmedia {
    height: 18vh;
    margin-top: 4vh;
    margin-bottom: 2vh;
}

.cont a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vb;
    height: 5vh;
    background-color: white;
    text-shadow: white;
    font-size: 18px;
    border-radius: 5px;
    color: #494949;
    -webkit-box-shadow: 0 0 15px 5px #e2dfdf;
    -moz-box-shadow: 0 0 15px 5px #e2dfdf;
    box-shadow: 0 0 15px 5px #e2dfdf;

}

.cont a:hover {
    transform: scale(1.01);
    transition: .1s ease;
}

.arrow {
    width: 4vb;
}

@media(max-width:1000px) {
    @media(min-width:700px) {
        .Solution {
            height: 140vh;
        }
    }

    .cont1,
    .cont2,
    .cont3,
    .cont4,
    .cont5 {
        height: 35%;
        width: 35vb;
    }

    .cont p {
        width: 25vb;
    }

    .logo {
        top: 54%;
        height: 13%;
    }

    .cont1 {
        top: -10%;
    }

    .cont2 {
        top: -25%;
    }

    .cont3 {
        top: -50%;
    }

    .cont4 {
        top: -50%;
    }

    .cont5 {
        top: -80%;
        left: -15%;
    }

    .cont h4 {
        font-size: 13px;
    }

    .cont p {
        font-size: 11px;
    }

    .cont a {
        font-size: 12px;
        width: 15vb;
    }

    .recruitment,
    .ushc,
    .training,
    .buisness {
        height: 12vh;
    }

    .socialmedia {
        height: 10vh;
        margin-top: 3vh;
    }

}

@media(max-width:700px) {
    .Solution {
        height: 230vh;
    }

    .logo {
        opacity: 0;
        transition: 500ms ease;
    }

    .cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 240vh;
    }

    .cont h4 {
        font-size: 14px;
    }

    .cont1,
    .cont2,
    .cont3,
    .cont4,
    .cont5 {
        position: none;
        top: 0;
        left: 0;
        margin-top: 5%;
        width: 35vb;
        height: 35vb;
    }

    .cont1 {
        margin-top: -30%;
    }

    .cont p {
        font-size: 10px;
    }

    .recruitment,
    .ushc,
    .training,
    .buisness {
        height: 12vh;
        margin-top: 1vh;
    }

    .socialmedia {
        height: 10vh;
        margin-top: 3vh;
    }

    @media(max-width:450px) {
        .cont1 {
            margin-top: -45%;
        }
    }
}